<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class=" welheader">
        <h1> Welcome To My Blog!!</h1>

        </div>
        @if (Request.IsAuthenticated)
        {
            <div>
                Welcome @User.Identity.Name!
               | <a href="@Url.Action("Logout", "Account")"> Logout</a>
                |<a href="@Url.Action("Create", "Post")">Create a new post</a>
                <a href="@Url.Action("Index", "Home")"> The Blog</a>
                <a href="@Url.Action("Index", "Post")">View Post</a>
            </div> 
        
        }
        else
        {
            <div class="logreg">
                <a href="@Url.Action("Login", "Account")">Login</a>
                <a href="@Url.Action("Register", "Account")">Register</a>

            </div>
        
        }
        

        
      
        
    
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    "
</body>
</html>
